[user]
	name = David Silva
	username = DavidSilva98
	email = dfhssilva@protonmail.com
	signingkey = 311A91341292C4AE
[core]
	editor = /usr/bin/nvim
[alias]
	graph = log --graph --oneline --all
[commit]
	template = /home/dsilva/.gitmessage
	gpgsign = true
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[pull]
	rebase = false
[init]
	defaultBranch = main
